<!DOCTYPE html>
<html>
<head>
  <title>NodeMap</title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<hr /><hr /><hr />
<h1>NodeMap</h1>
<hr /><hr /><hr />

<%= yield %>

</body>
</html>
